<h1>Dashboard</h1>

<h4><%= link_to "Categorías", categories_path %></h4>

<h4><%= link_to "Tipos", kinds_path %></h4>

<h4><%= link_to "Marcadores", bookmarks_path %></h4>

<%= pie_chart @bookmarks %>